DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nexacore_accounts
GRPC_PORT=50053
# JWT secrets stay empty locally until you generate it, make  sure its same with whats on `indentity-service` — openssl rand -base64 64
JWT_SECRET=
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d

# --- providers ---
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
