HTTP_PORT=3000
IDENTITY_SERVICE_URL=http://localhost:50051
# JWT secrets stay empty locally until you generate it, make  sure its same with whats on `indentity-service` — openssl rand -base64 64
JWT_SECRET=
